
/* Copiar los @font-face para importar la fuente */

@font-face {
    font-family: utendo;
    src: url(fonts/Utendo-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: utendo;
    src: url(fonts/Utendo-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: utendo;
    src: url(fonts/Utendo-Medium.ttf);
    font-weight: medium;
}
@font-face {
    font-family: utendo;
    src: url(fonts/Utendo-Regular.ttf);
}

html *{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: utendo;
}

/*  eliminar */
header {
    height: 180px;
    background-color: rgb(69, 146, 197);
}

footer {
    height: 80px;
    background-color: #4592c5;
}
/*  */
main{
    display:grid;
    grid-template:
    "div aside";
    margin-bottom: 50px;
}

.cards-container{
    margin: 2% 0 0 20%;
    height: 800px;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    gap: 10px;
}

.cards-container card{

    height: 70%;
    width: 60%;
}
.cards-container img{
    height: 300px;
    width: 300px;
    object-fit: cover;

}

.cards-container img:hover{
    box-shadow: 10px 6px 37px -13px rgba(51, 51, 51, 0.70);
    transform: scale(1.5);
}

aside{
    border: #a5a5a5 solid 2px;
    border-radius: 2%;
    display: flex;
    margin: 2% 15% 5% 3%;
    padding: 60px 10px 50px 30px;
    width: 300px;
    flex-direction: column;
}

.product-name{
    font-size: 30px;
    font-weight: bold;
}

.product-description{
    margin-top: 10px;

}

.price-article{
    height: 30px;
    width: 100px;
    color: white;
    margin-top: 20px;
    background-color: rgb(69, 146, 197);
    text-align: center;
    justify-content: center;
    margin-left: 30%;
    margin-top: 50px;
    font-size: 20px;
}

.iva{
    margin-left: 40%;
    margin-top: 10px;
}

.color-select{
    margin-top: 50px;
}

aside button{
    border: 2px solid black;
    border-radius: 3px;
    background: none;
    margin:2%;

    height: 50px;
    width: 50px;
}

#select-red{
    background-color: red;
}

#select-white{
    background-color: white;
}

#select-green{
    background-color: green;
}

#select-yellow{
    background-color: yellow;
}

.select-size{
    padding-top: 10px;
}
.select-size button{
    font-weight: bolder;
    font-size: 15px;
}

.add-cart-buttons{
    padding-top: 60px;
    padding-left: 10px;

}

.add-cart-buttons select{
    border: 2px solid black;
    border-radius: 10%;
    background: none;
    margin:2%;
    height: 50px;
    width: 60px;
    text-align: center;
    font-size: larger;

}

.add-cart{
    height: 50px;
    width: 40%;
    text-align: center;
    font-size: larger;
    border-radius: 10%;
}

/* Header y nav */

header {
    position: relative;
    background-color: #4196ab;
    padding:20px;
    color: white;
    display: grid;
    grid-template: repeat(2,1fr);
    justify-content: left;
    align-items: center;
}

#logo {
    width: 150px; 
    box-sizing: border-box;
    grid-area: span 2;
    
}
h1,
p {
    
    letter-spacing: 5px; /*Espacios entre letras*/
}

h1 {
    font-size: 24px;
    font-weight: bolder;
    text-shadow: 10px;
    grid-area: 1 / 2 / 1 / 2; /*valores-> InicioFila/InicioColumna/FinFila/FinColumna*/
}

/*
* Parametros para la barra de navegacion
*/
nav{
    display: flex;
    justify-content: space-around;
    position: relative;
    padding:3px;
}

/* 
*   Zona de configuracion de los elementos de categorias
*/
#navCategories{
    display: flex;
    justify-content: space-around;
    position: absolute;
    gap: 50px;
    transform: translate(0%,50%);
}

#navCategories a{
/*
*   Quitamos el subrayado de las categorias
*   Le marcamos estilo "Negrita"
*/
    font-weight: bolder;
    text-decoration: none;    
}

/*Zona de los iconos en la barra de navegacion*/
#navFunctions{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    transform: translate(80%,0%);
 
}
#Favorites{
    width:35px;
    height: 30px;
}
#cart{
    width:30px;
    height: 30px;
}

#search{
    border:solid 2px black;
    border-radius: 15px;
    padding:5px;
}

/* fin header y nav */


