
/* Copiar los @font-face para importar la fuente */

@font-face {
    font-family: utendo;
    src: url(fonts/Utendo-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: utendo;
    src: url(fonts/Utendo-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: utendo;
    src: url(fonts/Utendo-Medium.ttf);
    font-weight: medium;
}
@font-face {
    font-family: utendo;
    src: url(fonts/Utendo-Regular.ttf);
}

html *{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: utendo;
}

/*  eliminar */
footer {
    height: 80px;
    background-color: #4196ab;
}
/*  */
main{
    display:grid;
    grid-template:
    "div aside";
    padding-bottom: 50px;
}

.cards-container{
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.cards-container section{

    height: 70%;
    width: 60%;
}
.cards-container img{
    height: 300px;
    width: 300px;
    object-fit: cover;
    border-radius: 8px;

}

.cards-container img:hover{
    transition: 0.5s;
    box-shadow: 10px 6px 37px -13px rgba(51, 51, 51, 0.70);
    transform: scale(2);
    position: absolute;
    z-index: 10;
}

aside{
    border: 2px solid hsl(0, 0%, 25%, 0.3);
    border-radius: 2%;
    position: relative;
    display: flex;
    right: 400px;
    top: 20px;
    padding: 60px 10px 50px 30px;
    width: 300px;
    flex-direction: column;
}

.product-name{
    font-size: 30px;
    font-weight: bold;
}

.product-description{
    margin-top: 10px;
}

.price-article{
    height: 30px;
    width: 100px;
    color: white;
    margin-top: 20px;
    background-color: #42b5c7;
    text-align: center;
    justify-content: center;
    margin-left: 30%;
    margin-top: 50px;
    font-size: 20px;
    border-radius: 3px;
}

.iva{
    margin-left: 40%;
    margin-top: 10px;
}

.color-select{
    margin-top: 50px;
}

aside button{
    border: 2px solid hsl(0, 0%, 25%, 0.3);
    border-radius: 3px;
    background: none;
    margin:2%;
    height: 50px;
    width: 50px;
}



#color-select-1{
    background-color: red;
}

#color-select-2{
    background-color: white;
}

#color-select-3{
    background-color: green;
}

#color-select-4{
    background-color: yellow;
}

.select-size{
    padding-top: 10px;
}

.color-select button:hover{
    transform: scale(1.3);
}
.select-size button{
    font-weight: bolder;
    font-size: 15px;
}

.select-size button:hover{
    transform: scale(1.3);
}

.add-cart-buttons{
    padding-top: 60px;
    padding-left: 10px;

}

.add-cart-buttons select{
    border: 2px solid hsl(0, 0%, 25%, 0.3);
    border-radius: 10%;
    background: none;
    margin:2%;
    height: 50px;
    width: 60px;
    text-align: center;
    font-size: larger;

}

.add-cart{
    height: 50px;
    width: 40%;
    text-align: center;
    font-size: larger;
    border-radius: 10%;
}

.add-cart:hover{
    transform: scale(1.3);
}

#favbtn{
    position: absolute;
    border: 2px solid hsl(0, 0%, 25%, 0.3);
    border-radius: 50%;
    padding: 13px;
    margin-left: 10px;
    height: 30px;
    width: 30px;
}

#favbtn:hover{
    transform: scale(1.3);
}

.related-products {
    position: static;
    display: flex;
    margin-top: 150px;
    margin-left: 250px;
    width: 88%;
    gap:30px;
    overflow-x: auto;
    height: auto;
    padding-bottom: 15px;
    border-top: solid black 1px;
    padding-top: 10px;
}

.related-products-p{
    position: absolute;
    top:1040px;
    font-size: 25px;
    font-weight: bold;

}
.related-products section img{
    width: 200px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
}

.related-products section img:hover{
    transform: scale(1.3);
    position: relative;
    z-index: 10;
    translate: 0, 50px;
}
.related-products a{
    text-decoration: none;
    color: #000;
}

.related-price{
    border-radius: 5px;
    position: relative;
    width: fit-content;
    padding: 3px;
    background-color: #42b5c7;
    top:-75px;
    left:115px
}
/* Header y nav */

header {
    position: relative;
    background-color: #4196ab;
    padding:20px;
    color: white;
    display: grid;
    grid-template: repeat(2,1fr);
    justify-content: left;
    align-items: center;
}

#logo {
    width: 150px; 
    box-sizing: border-box;
    grid-area: span 2;
    
}
h1,
p {
    
    letter-spacing: 5px; /*Espacios entre letras*/
}

h1 {
    font-size: 24px;
    font-weight: bolder;
    text-shadow: 10px;
    grid-area: 1 / 2 / 1 / 2; /*valores-> InicioFila/InicioColumna/FinFila/FinColumna*/
}

/*
* Parametros para la barra de navegacion
*/
nav{
    display: flex;
    justify-content: space-around;
    position: relative;
    padding:3px;
}

/* 
*   Zona de configuracion de los elementos de categorias
*/
#navCategories{
    display: flex;
    justify-content: space-around;
    position: absolute;
    gap: 50px;
    transform: translate(0%,50%);
}

#navCategories a{
/*
*   Quitamos el subrayado de las categorias
*   Le marcamos estilo "Negrita"
*/
    font-weight: bolder;
    text-decoration: none;    
}

/*Zona de los iconos en la barra de navegacion*/
#navFunctions{
    display: flex;
    justify-content: space-around;
    gap: 20px;
    transform: translate(80%,0%);
 
}
#Favorites{
    width:35px;
    height: 30px;
}
#cart{
    width:30px;
    height: 30px;
}

#search{
    border:solid 2px black;
    border-radius: 15px;
    padding:5px;
}

/* fin header y nav */


